@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* HEADER.JS STYLING */

/* Navbar styling */
.nav {
  background-color: #282828;
  display: flex;
  justify-content: space-around;
  margin: -8px;
  padding: 5px;
}

/* Individual links on navbar */
.nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 10px;
  border: 1px solid transparent;
}

/* Links on hover */
a:hover {
  border: 1px solid white;
}

/* Links on click */
a:active {
  transform: scale(1.1);
}

/* REQUEST NEW LOCATION PAGE */

/* top message styling */
.new-location-message-container {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.message-hr {
  width: 300px;
}

/* Whole form with all inputs in it */
.request-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 0px;
  width: 350px;
  margin: 5% 40%;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

label {
  font-size: 20px;
}

/* Individual inputs */
.request-input {
  margin: 20px 10px;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 20px;
  width: 250px;
  font-size: 20px;
}

/* Submit button */
.request-submit {
  background-color: #3174ad;
  border: 1px solid #3174ad;
  color: white;
  font-size: 20px;
  padding: 6px 10px;
  width: 250px;
  margin: 10px;
}

/* Submit button on hover */
.request-submit:hover {
  transform: scale(1.2);
}

/* Submit button on click */
.request-submit:active {
  background-color: #428ccc;
  color: white;
  opacity: 100%;
}

/* FRONT PAGE STYLING*/

.locations a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
}

.locations {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  width: 25%;
  min-height: 375px;
  margin: 20px;
}

.location-info {
  white-space: nowrap;
  overflow:hidden;
  text-transform: ellipsis;
  display: inline-block;
}

/* Search bar and search button */
.front-form {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

/* Search bar */
.front-search-bar {
  font-size: 30px;
  border-radius: 6px;
  width: 1000px;
  margin-right: 20px;
}

/* Search button */
.front-submit {
  background-color: #282828;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  border: none;
}

/* Search button on hover */
.front-submit:hover {
  background-color: black;
}

/* Search button on click */
.front-submit:active {
  transform: scale(1.1);
}

/* ABOUT PAGE STYLING */

/* Main Info styling */
.about-info {
  text-align: center;
  font-size: 30px;
}

/* Links */
.about-link-container a{
  color: blue;
  font-size: 15px;
}

.about-link-container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: 15px;
}

/* FORUM STYLES */

/* Form styling */
.forum-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Search bar */
.forum-search {
  font-size: 20px;
  width: 500px;
}

/* submit button */
.forum-submit {
  background-color: #282828;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  border: none;
}

/* submit button on hover */
.forum-submit:hover {
  background-color: black;
}

/* submit button on click */
.forum-submit:active {
  transform: scale(1.1);
}

.forums-container {
  color: black;
}

.invalid-message {
  text-align: center;
  font-size: 35px;
  margin-top: 200px;
}